{% extends "base.html" %}

{% block title %}
Book List
{% endblock %}

{% block header %}
Book List
{% endblock %}

{% block content %}
<style>
    a.download-link {
        color: blue;
        text-decoration: none;
    }
    a.download-link:hover {
        color: red;
    }
    a.download-link:visited {
        color: purple;
    }
</style>
<script>
    function toggleReviews(bookId) {
        var reviews = document.getElementById('reviews-' + bookId).children;
        for (var i = 1; i < reviews.length; i++) {
            var display = reviews[i].style.display;
            reviews[i].style.display = display === 'none' ? 'block' : 'none';
        }
    }
</script>

<!-- Filter form -->
<form method="get">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="author" placeholder="Author">
    <input type="submit" value="Filter">
</form>

<!-- Create book form -->
{% if request.user.is_staff %}
<form method="post">
    <input type="text" name="title" placeholder="Title" required>
    <input type="text" name="author" placeholder="Author" required>
    <input type="date" name="publication_date" placeholder="Publication Date" required>
    <input type="text" name="description" placeholder="description" required>
    <input type="number" name="price" placeholder="price" step="0.01">
    <input type="submit" value="Create Book">
</form>
{% endif %}

<ul>
    {% for book in books %}
        <li>
            <!-- Wrap the title in an anchor tag with a URL to the book detail view -->
            <h2><a href="{% url 'singlebook' book.id %}">{{ book.title }}</a></h2>
            <p>Author: {{ book.author }}</p>
            <p>Publication Date: {{ book.publication_date }}</p>
            <p><a href="{{ book.download_link }}" class="download-link">Download</a></p>

            <h3>Reviews:</h3>
            <ul id="reviews-{{ book.id }}">
                {% for review in book.reviews.all %}
                    <li class="{% if forloop.first %}first{% else %}hidden{% endif %}">
                        <p>Reviewer: {{ review.reviewer }}</p>
                        <p>Review: {{ review.review }}</p>
                        <p>Rating: {{ review.rating }}</p>
                    </li>
                {% endfor %}
            </ul>
            {% if book.reviews.count > 1 %}
            <a href="{% url 'book_reviews' book.id %}" onclick="toggleReviews('{{ book.id }}'); return false;">Show more</a>

            {% endif %}
            </li>
    {% endfor %}
</ul>
{% endblock %}